<link rel="stylesheet" href='./login.component.css'/>
<div class="box">
    <div class="boxone">
        <h1>Hii</h1>
    </div>

    <div class="boxtwo">
        <p>The accompanying code bits are ideal for design. You’ll discover different navigation models with dropdowns and slideouts and a wide range of liveliness impacts. Website design is a rising procedure with cool new patterns each year.</p>
    </div>
    <div class="boxthree">
      <h4><a href="#">learn</a></h4>
    </div>




</div>
